@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.text-gradient-animate {
  background: linear-gradient(
    90deg,
    rgb(221, 3, 3),
    rgb(250, 129, 47),
    rgb(250, 177, 47),
    rgb(221, 3, 3)
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s linear infinite;
}
